<center>
<table class='racks'>
<tr><td><table id='rack_01' class='rack'>
</td></tr><tr><td><div id='chassis_01' class='chassis'>
  <div id='node_01' class='node'>$node-01:1$$node-01:2$$node-01:3$$node-01:4$$node-01:5$$node-01:6$$node-01:7$$node-01:8$
  </div>
  <div id='node_02' class='node'>$node-02:1$$node-02:2$$node-02:3$$node-02:4$$node-02:5$$node-02:6$$node-02:7$$node-02:8$
  </div>
  <div id='node_03' class='node'>$node-03:1$$node-03:2$$node-03:3$$node-03:4$$node-03:5$$node-03:6$$node-03:7$$node-03:8$
  </div>
  <div id='node_04' class='node'>$node-04:1$$node-04:2$$node-04:3$$node-04:4$$node-04:5$$node-04:6$$node-04:7$$node-04:8$
  </div>
  <div id='node_05' class='node'>$node-05:1$$node-05:2$$node-05:3$$node-05:4$$node-05:5$$node-05:6$$node-05:7$$node-05:8$
  </div>
  <div id='node_06' class='node'>$node-06:1$$node-06:2$$node-06:3$$node-06:4$$node-06:5$$node-06:6$$node-06:7$$node-06:8$
  </div>
  <div id='node_07' class='node'>$node-07:1$$node-07:2$$node-07:3$$node-07:4$$node-07:5$$node-07:6$$node-07:7$$node-07:8$
  </div>
  <div id='node_08' class='node'>$node-08:1$$node-08:2$$node-08:3$$node-08:4$$node-08:5$$node-08:6$$node-08:7$$node-08:8$
  </div>
  <div id='node_09' class='node'>$node-09:1$$node-09:2$$node-09:3$$node-09:4$$node-09:5$$node-09:6$$node-09:7$$node-09:8$
  </div>
  <div id='node_10' class='node'>$node-10:1$$node-10:2$$node-10:3$$node-10:4$$node-10:5$$node-10:6$$node-10:7$$node-10:8$
  </div>
</div>
</td></tr><tr><td><div id='chassis_02' class='chassis'>
  <div id='node_11' class='node'>$node-11:1$$node-11:2$$node-11:3$$node-11:4$$node-11:5$$node-11:6$$node-11:7$$node-11:8$
  </div>
  <div id='node_12' class='node'>$node-12:1$$node-12:2$$node-12:3$$node-12:4$$node-12:5$$node-12:6$$node-12:7$$node-12:8$
  </div>
  <div id='node_13' class='node'>$node-13:1$$node-13:2$$node-13:3$$node-13:4$$node-13:5$$node-13:6$$node-13:7$$node-13:8$
  </div>
  <div id='node_14' class='node'>$node-14:1$$node-14:2$$node-14:3$$node-14:4$$node-14:5$$node-14:6$$node-14:7$$node-14:8$
  </div>
  <div id='node_15' class='node'>$node-15:1$$node-15:2$$node-15:3$$node-15:4$$node-15:5$$node-15:6$$node-15:7$$node-15:8$
  </div>
  <div id='node_16' class='node'>$node-16:1$$node-16:2$$node-16:3$$node-16:4$$node-16:5$$node-16:6$$node-16:7$$node-16:8$
  </div>
  <div id='node_17' class='node'>$node-17:1$$node-17:2$$node-17:3$$node-17:4$$node-17:5$$node-17:6$$node-17:7$$node-17:8$
  </div>
  <div id='node_18' class='node'>$node-18:1$$node-18:2$$node-18:3$$node-18:4$$node-18:5$$node-18:6$$node-18:7$$node-18:8$
  </div>
  <div id='node_19' class='node'>$node-19:1$$node-19:2$$node-19:3$$node-19:4$$node-19:5$$node-19:6$$node-19:7$$node-19:8$
  </div>
  <div id='node_20' class='node'>$node-20:1$$node-20:2$$node-20:3$$node-20:4$$node-20:5$$node-20:6$$node-20:7$$node-20:8$
  </div>
</div>

</table>
</td><td><table id='rack_02' class='rack'>

</td></tr><tr><td><div id='chassis_03' class='chassis'>
  <div id='node_21' class='node'>$node-21:1$$node-21:2$$node-21:3$$node-21:4$$node-21:5$$node-21:6$$node-21:7$$node-21:8$
  </div>
  <div id='node_22' class='node'>$node-22:1$$node-22:2$$node-22:3$$node-22:4$$node-22:5$$node-22:6$$node-22:7$$node-22:8$
  </div>
  <div id='node_23' class='node'>$node-23:1$$node-23:2$$node-23:3$$node-23:4$$node-23:5$$node-23:6$$node-23:7$$node-23:8$
  </div>
  <div id='node_24' class='node'>$node-24:1$$node-24:2$$node-24:3$$node-24:4$$node-24:5$$node-24:6$$node-24:7$$node-24:8$
  </div>
  <div id='node_25' class='node'>$node-25:1$$node-25:2$$node-25:3$$node-25:4$$node-25:5$$node-25:6$$node-25:7$$node-25:8$
  </div>
  <div id='node_26' class='node'>$node-26:1$$node-26:2$$node-26:3$$node-26:4$$node-26:5$$node-26:6$$node-26:7$$node-26:8$
  </div>
  <div id='node_27' class='node'>$node-27:1$$node-27:2$$node-27:3$$node-27:4$$node-27:5$$node-27:6$$node-27:7$$node-27:8$
  </div>
  <div id='node_28' class='node'>$node-28:1$$node-28:2$$node-28:3$$node-28:4$$node-28:5$$node-28:6$$node-28:7$$node-28:8$
  </div>
  <div id='node_29' class='node'>$node-29:1$$node-29:2$$node-29:3$$node-29:4$$node-29:5$$node-29:6$$node-29:7$$node-29:8$
  </div>
  <div id='node_30' class='node'>$node-30:1$$node-30:2$$node-30:3$$node-30:4$$node-30:5$$node-30:6$$node-30:7$$node-30:8$
  </div>
</div>
</td></tr><tr><td><div id='chassis_04' class='chassis'>
  <div id='node_31' class='node'>$node-31:1$$node-31:2$$node-31:3$$node-31:4$$node-31:5$$node-31:6$$node-31:7$$node-31:8$
  </div>
  <div id='node_32' class='node'>$node-32:1$$node-32:2$$node-32:3$$node-32:4$$node-32:5$$node-32:6$$node-32:7$$node-32:8$
  </div>
  <div id='node_33' class='node'>$node-33:1$$node-33:2$$node-33:3$$node-33:4$$node-33:5$$node-33:6$$node-33:7$$node-33:8$
  </div>
  <div id='node_34' class='node'>$node-34:1$$node-34:2$$node-34:3$$node-34:4$$node-34:5$$node-34:6$$node-34:7$$node-34:8$
  </div>
  <div id='node_35' class='node'>$node-35:1$$node-35:2$$node-35:3$$node-35:4$$node-35:5$$node-35:6$$node-35:7$$node-35:8$
  </div>
  <div id='node_36' class='node'>$node-36:1$$node-36:2$$node-36:3$$node-36:4$$node-36:5$$node-36:6$$node-36:7$$node-36:8$
  </div>
  <div id='node_37' class='node'>$node-37:1$$node-37:2$$node-37:3$$node-37:4$$node-37:5$$node-37:6$$node-37:7$$node-37:8$
  </div>
  <div id='node_38' class='node'>$node-38:1$$node-38:2$$node-38:3$$node-38:4$$node-38:5$$node-38:6$$node-38:7$$node-38:8$
  </div>
  <div id='node_39' class='node'>$node-39:1$$node-39:2$$node-39:3$$node-39:4$$node-39:5$$node-39:6$$node-39:7$$node-39:8$
  </div>
  <div id='node_40' class='node'>$node-40:1$$node-40:2$$node-40:3$$node-40:4$$node-40:5$$node-40:6$$node-40:7$$node-40:8$
  </div>
</div>
</td></tr>
</td></tr>
</table>
</table>
</center>
