<center><table class='index_tbl'>
<tr><td colspan=2><center><b>#cpus#</b></center></td></tr>
<tr><td> #total# </td><td> $total_cpus$ </td><tr>
<tr><td> #used# </td><td> $used_cpus$ </td><tr>
<tr><td> #free_p# </td><td> $free_total$ </td><tr>
<tr><td> #block# </td><td> $blocked_cpus$ </td><tr>
<tr><td colspan=2><center><b>#tasks#</b></center></td></tr>
<tr><td> #total# </td><td> $tasks_all$ </td><tr>
<tr><td> #running# </td><td> $tasks_run$ </td><tr>
<tr><td> #queued# </td><td> $tasks_queue$ </td><tr>
<tr><td> #block# </td><td> $tasks_block$ </td><tr>
<tr><td> #pre# </td><td> $tasks_pre$ </td><tr>
<tr><td> #post# </td><td> $tasks_post$ </td><tr>
</table></center>
